<%= form_with(model: postulacion) do |form| %>
  <% if postulacion.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(postulacion.errors.count, "error") %> prohibited this postulacion from being saved:</h2>

      <ul>
        <% postulacion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :estado, style: "display: block" %>
    <%= form.text_field :estado %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
